.emptyline {
	margin-top: 15px;
}
.emptyline-lg {
	margin-top: 40px;
}

.answerbtn, .answerbtn:hover {
	border: 1px solid black;
}

.answerbtn {
	height: 100%;
	font-size: 150%;
}

.answerrow {
	height: 70px;
}

.hide {
	display: none;
}

#mainbtn {
	color: #fff;
}

.exprow > div, .answerrow > div {
	padding-right: 5px;
	padding-left: 5px;
}

#katalknotice {
	font-style: italic;
}

@media (min-width: 768px) { 
	.title {
		font-size: 200%;
	}
	.exprow > div, .answerrow > div {
		padding-right: 10px;
		padding-left: 10px;
	}
}